.app {
    margin: auto;
    width: 450px;
}
.header {
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
}
.form {
    display: flex;
}
.form input {
    flex: 1;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding-left: 15px;
}

.form button {
    background-color: #634BF5;
    color: white;
    padding: 15px 30px;
    border: none;
    margin-left: 15px;
}

.todos {}
.todo {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    align-items: center;
}
.favorite {
    padding: 0 15px;
}
.favorite span {
    font-size: 22px;
}
.todo-text {
    flex: 1;
}
.actions span {
    color: red;
}